body,
html {
  height: 100%;
  margin: 0;
}
body {
  background-color: #1a1a1a;
}
.App {
  text-align: center;
}

.characterParent {
  margin: 50px;
}

.header {
  padding: 60px;
}

h1 {
  // font-family: "Dokdo", cursive;
  font-family: "Sedgwick Ave Display", cursive;
  color: #b8b8b8;
  font-weight: bold;
  font-size: 45px;

}

.tabs {

  ul {
    border: none;
  }
  li {
    background: #1a1a1a;
  }
  
  .is-active a {
    color: white;
    background: #39cf81 !important ;
  }

  a {
    background: #1a1a1a;
    border-color: #1A1A1A !important ;

    
  }
 
  
}

.characterCard {
  background: #1a1a1a;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  height: 222px;

  .title {
    font-family: "Sedgwick Ave Display", cursive;
    color: #39cf81;
    font-weight: 400;
  }
  .characterName {
    color: #39cf81;
  }
}
